* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;                       
    min-height: 100vh;             
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    font-style: normal;
    color: rgb(214, 194, 246);
}

.mia {
    position: fixed;
    bottom: 1px;      /* afstand van de onderkant */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;   
}

.mia img {
    width: 15rem;
}